@using ContatosMVC.Enums;
@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuarios";
    Layout = "_Layout";

}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" role="button"> Adicionar novo usuario</a>
    </div> <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close" arial-label="Close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close" arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    } <br />

    <h1 class="display-4"> Listagem de Usuarios</h1> <br /><br />

    <table class="table" id="table-usuarios">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Login</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Data de Alteração</th>
                <th scope ="col">Perfil</th>
                <th scope="col">Total de Contatos</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-start">
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td> @usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.DataCadastro</td>
                        @if (usuario.DataAlteracao.HasValue )
                        {
                            <td> @usuario.DataAlteracao</td>
                        }
                        else
                        {
                            <td> Usuario não foi alterado</td>
                        }

                        <td>@(usuario.Perfil == ContatosMVC.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td><a href="javascript:" usuario-id="@usuario.Id" class="btn btn-success btn-sm btn-total-contatos">@(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0) </a></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar" class="btn btn-primary">Editar</a>
                                <a role="button" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="DeletarConfirmacao" class="btn btn-danger">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5" > Nenhum usuario Encontrado</td>  </tr>
            }
        </tbody>
    </table>

    

    <div class="modal" id="modalContatosUsuario" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de Contatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <div id="listaContatosUsuario"></div>
            </div>
            </div>
        </div>
    </div>
</div>
